<!-- /app/templates/admin/categories.hbs -->
{{#if newCategory.isError}}
  Error!!
  {{#each newCategory.errors as |error|}}
    {{error}}
  {{/each}}
{{/if}}
  <div class="well well-sm">
    <form class="form-inline" {{action 'addNewCategory' newCategory on='submit'}}>
      <div class="form-group">
        <label for="new-category">New category:</label>
        {{input type="text" class="form-control" id="new-category" placeholder="Category name" value=newCategory.name}}
      </div>
      <button type="submit" class="btn btn-default">Add</button>
    </form>
  </div>

<table class="table table-striped">
  <caption>List of categories</caption>
  <thead>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Produtos</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  {{#each model as |category|}}
    {{#unless category.isNew}}
      <tr>
        <td>{{category.id}}</td>
        <td {{action 'editCategory' category}}>
          {{#if category.isEditing}}
            {{input class="form-control" value=category.name}}
          {{else}}
            {{category.name}}
          {{/if}}
        </td>
        <td> {{category.products.length}} </td>
        <td>
          {{#if category.isEditing}}
            <button class="btn btn-xs btn-success" {{action 'updateCategory' category 'Price'}}>Save</button>
            <button class="btn btn-xs btn-info" {{action 'cancelEditCategory' category}}>Cancel</button>
          {{else}}
            <button class="btn btn-xs btn-danger" {{action 'deleteCategory' category}}>Del</button>
            <button class="btn btn-xs btn-default" {{action 'editCategory' category}}>Edit</button>
          {{/if}}
        </td>
      </tr>
    {{/unless}}
  {{/each}}
  </tbody>
</table>

Number of categories: {{model.length}}